.height0
	height:0px

#facebook
	article
		position: relative

	.fb-mini
		height: 40px
		width: 40px
		float: left
		background-size:cover

	.overlay.active
		position: absolute
		width: 100%
		height: 100%
		opacity: .5
		background: #000

	header
		transition: all .5s

		&.height0 *
			display:none