<template name="bill">
	<section id="bill" data-transition="slide" data-aside="features" class='drag {{active}}'>

		<header>
			<nav class="left">
				<a class="goback"><span class="icon chevron-left"></span></a>
			</nav>
			<h1 class="title centered">New Bill</h1>

			<nav class="on-right">
				<a><span class="icon ok-sign"></span></a>
			</nav>
		</header>

		<article class="active list">
			<ul>
				<li class="thumb big bigger">
					<img src="http://lorempixel.com/sports/100/100">
					<div>
						<div class="on-right text tiny">lorem</div>
						<strong>ipsum</strong>
						<span class="text tiny opacity">mucama</span>
						<small>
							Un culiado!
						</small>
					</div>
				</li>
			</ul>
		</article>
</template>