<template name="bill">
	<section id="bill" data-transition="slide" data-aside="features" class='drag {{active}}'>

		<header>
			<nav class="left">
				<a class="goback"><span class="icon chevron-left"></span></a>
			</nav>
			<h1 class="title centered">New Bill</h1>

			<nav class="on-right">
				<a><span class="icon ok-sign"></span></a>
			</nav>
		</header>

		<article class="active list">
			<ul>
				<li class="thumb big bigger">
					{{#if user}}
					<img src="https://graph.facebook.com/{{user.id}}/picture?width=90&height=90">
					{{else}}
					<img src="/images/no-picture2-small.jpg">
					{{/if}}
					<div class='form'>
						<button class="-anchor" id="fb-friend">
							<span class="icon facebook"></span>
							<abbr>
								{{#if user}}
									{{user.name}}
								{{else}}
									Select facebook friend
								{{/if}}
							</abbr>
						</button>
						<fieldset>
							<input type="checkbox">
							<span>owes me</span>
							<span class="hide">I owe</span>
						</fieldset>
					</div>
				</li>
			</ul>
			<div class='form debt'>
				<span class='currency'>&euro;</span>
				<input type="text" placeholder="0.0" value="10" class="large text bold howmuch">
				<input type="text" placeholder="description" class="large text bold description">
			</div>
		</article>
</template>