<template name="features">
	<aside id="features" data-transition="left" class="show box">
		<header>
			<h1 class="title centered">Features</h1>
			<nav class="on-right">
				<a href="#" class="buttons">
					<span class="icon cog"></span>
				</a>
			</nav>
		</header>

		<article class="list active">
			<ul>
				<li>
					<span class="icon user"></span>
					<strong>My profile</strong>
				</li>

				<li id="debts-item">
					<span class="icon money"></span>
					<strong>Debts</strong>
				</li>

				<li>
					<span class="icon info-sign"></span>
					<div class="tag on-right">8</div>
					<strong>Notifications</strong>
				</li>

				<li>
					<span class="icon tag"></span>
					<div class="tag on-right">9</div>
					<strong>Tags</strong>
				</li>

				<li id="stats-item">
					<span class="icon dashboard"></span>
					<div class="tag on-right">9</div>
					<strong>Stats</strong>
				</li>

				<li>
					<span class="icon question-sign"></span>
					<strong>About</strong>
				</li>

				<li class="red" id="logout-item">
					<span class="icon off"></span>
					<div class="tag on-right">{{username}}</div>
					<strong>Log out</strong>
				</li>
			</ul>
		</article>
	</aside>
</template>