<template name="features">
	<aside id="features" data-transition="left">
		<header data-title="Features">
			<nav class="on-right">
				<a href="#" class="buttons" data-icon="cog"></a>
			</nav>
		</header>

		<article class="list active">
			<ul>
				<li data-icon="user">
					<strong>My profile</strong>
				</li>

				<li data-icon="info-sign">
					<div class="tag on-right">8</div>
					<strong>Notifications</strong>
				</li>

				<li data-icon="tag">
					<div class="tag on-right">9</div>
					<strong>Tags</strong>
				</li>

				<li data-icon="dashboard">
					<div class="tag on-right">9</div>
					<strong>Stats</strong>
				</li>

				<li data-icon="question-sign">
					<strong>About</strong>
				</li>

				<li data-icon="off" class="red" data-view-section="login">
					<strong>Log out</strong>
				</li>
			</ul>
		</article>
	</aside>
</template>