<template name="list">
	<section id="list" data-transition="slide" data-aside="features" class="drag">
		{{#constant}}
		<header>
			<nav>
				<a href="#" data-view-aside="features"><span class="icon menu"></span></a>
			</nav>
			<h1 class="title centered">iPayMyDebts</h1>
			<nav class="on-right">
				<a><span class="icon plus"></span></a>
			</nav>
		</header>
		{{/constant}}

		<article id="list" class="active list indented scroll">
			<ul>
				<!-- Deudores! -->
				<li class="anchor contrast">Deudores</li>

				{{#each debtors}}
				<li class="thumb big accept" data-view-section="people">
					<img src="images/no-picture2.jpg">
					<div>
						<div class="on-right text tiny">{{date}}</div>
						<strong>{{a}}</strong>
						<span class="text tiny opacity">owes you ${{debt}}</span>
						<div>
							{{#each tags}}
								<span class="label">{{this}}</span>
							{{/each}}
						</div>
					</div>
				</li>
				{{/each}}

				<!-- Acreedores -->
				<li class="anchor contrast">Acreedores</li>

				{{#each creditors}}
				<li class="thumb big cancel" data-view-section="people">
					<img src="images/no-picture2.jpg">
					<div>
						<div class="on-right text tiny">{{date}}</div>
						<strong>{{b}}</strong>
						<span class="text tiny opacity">you owe ${{debt}}</span>
						<div>
							{{#each tags}}
								<span class="label">{{this}}</span>
							{{/each}}
						</div>
					</div>
				</li>
				{{/each}}
		</article>

		<footer>
			<nav>
				<a href="#" class="active {{colortotal}}">Total Deuda: {{total}}</a>
			</nav>
		</footer>
	</section>
</template>