<template name="list">
	<section id="list" data-transition="slide" data-aside="features" class='drag {{active}}'>
		<header>
			<nav>
				<a href="#" data-view-aside="features"><span class="icon menu"></span></a>
			</nav>
			<h1 class="title centered">iPayMyDebts</h1>
			<nav class="on-right">
				<a><span class="icon plus"></span></a>
			</nav>
		</header>

		<article id="list" class="active list indented scroll">
			<ul>
				{{#each debts}}
				<li class="thumb big {{color this}}" data-view-section="people">
					<img src="https://graph.facebook.com/{{user.services.facebook.id}}/picture?width=65&height=65">
					<div>
						<div class="on-right text">
							{{whoOwesWhom this}}
						</div>
						<strong>{{user.profile.name}}</strong>
						<span class="text bold opacity">
							&euro;{{abs debt}}
						</span>
					</div>
				</li>
				{{/each}}
			</ul>
		</article>

		<footer>
			<nav>
				<a href="#" class="active {{colortotal}}">Total Deuda: {{total}}</a>
			</nav>
		</footer>
	</section>
</template>