<template name="list">
	<section id="list" data-transition="slide" data-aside="features" class="drag">
		<header data-title="iPayMyDebts">
			<nav>
				<a href="#" data-view-aside="features" data-icon="menu"></a>
			</nav>
			<nav class="on-right">
				<a data-icon="plus"></a>
			</nav>
		</header>

		<article id="list" class="active list indented scroll">
			<ul>
				<!-- Deudores! -->
				<li class="anchor contrast">Deudores</li>
				
				<li class="thumb big accept">
					<img src="images/no-picture2.jpg" data-view-section="people">
					<div>
						<div class="on-right text tiny">lorem ipsum</div>
						<strong>Arnaldo</strong>
						<span class="text tiny opacity">lorem ipsum</span>
						<small>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, aliquam, nisi commodi blanditiis.
						</small>
					</div>
				</li>

				<li class="thumb big accept">
					<img src="images/no-picture2.jpg" data-view-section="people">
					<div>
						<div class="on-right text tiny">lorem ipsum</div>
						<strong>Nicanor</strong>
						<span class="text tiny opacity">lorem ipsum</span>
						<small>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, aliquam, nisi commodi blanditiis.
						</small>
					</div>
				</li>

				<!-- Acreedores -->
				<li class="anchor contrast">Acreedores</li>
				
				<li class="thumb big accept">
					<img src="images/no-picture2.jpg" data-view-section="people">
					<div>
						<div class="on-right text tiny">lorem ipsum</div>
						<strong>Susano</strong>
						<span class="text tiny opacity">lorem ipsum</span>
						<small>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, aliquam, nisi commodi blanditiis.
						</small>
					</div>
				</li>
			</ul>
		</article>

		<footer>
			<nav>
				<a href="#" class="active red">Total Deuda Grupo</a>
			</nav>    
		</footer>
	</section>
</template>