<template name="people">
	<section id="people" data-transition="slide" data-aside="features" class='drag {{active}}'>

		<header>
			<nav class="left">
				<a id="goback"><span class="icon chevron-left"></span></a>
			</nav>
			<h1 class="title centered">Details of my relation with {{username}}</h1>

			<nav class="on-right">
				<a><span class="icon plus"></span></a>
			</nav>
		</header>

		<nav data-control="groupbar">

			<a data-view-article="medebe" class="active">
				<abbr>Owes me</abbr>
			</a>
			<a data-view-article="ledebo">
				<abbr>I owe</abbr>
				<span class="tag count">19</span>
			</a>
			<a>
				<abbr>All</abbr>
			</a>

		</nav>

		<article id="medebe" class="active list">
			<ul>
				{{> profile}}
			</ul>
			<ul class="indented people-items">
				{{#each debts}}
					<li class="accept {{#if paid}}light done{{/if}}">
						{{> debt-credit}}
					</li>
				{{/each}}
			</ul>
		</article>

		<article id="ledebo" class="list">
			<ul>
				{{> profile}}
			</ul>
			<ul class="indented people-items">
				{{#each credits}}
					<li class="cancel {{#if paid}}light done{{/if}}">
						{{> debt-credit}}
					</li>
				{{/each}}
			</ul>
		</article>

		<footer>
			<nav>
				<a href="#" class="active">Total Deuda Persona</a>
			</nav>
		</footer>
	</section>
</template>

<template name="profile">
	<li class="thumb big bigger">
		<img src="http://lorempixel.com/sports/100/100">
		<div>
			<div class="on-right text tiny">{{user.emails.0.address}}</div>
			<strong>{{user.username}}</strong>
			<span class="text tiny opacity">{{user.emails.0.address}}</span>
			<small>
				Un culiado!
			</small>
		</div>
	</li>
</template>

<template name="debt-credit">
	<div class="on-right text tiny">{{date}}</div>
	<strong>${{debt}}</strong>
	{{#each tags}}
		<span class="label">{{this}}</span>
	{{/each}}
</template>
