<template name="people">
	<section id="people" data-transition="slide" data-aside="features" class='drag {{active}}'>
		{{#constant}}
		<header>
			<nav class="left">
				<a id="goback"><span class="icon chevron-left"></span></a>
			</nav>
			<h1 class="title centered">{{user.profile.name}}</h1>

			<nav class="on-right">
				<a><span class="icon plus"></span></a>
			</nav>
		</header>

		<nav data-control="groupbar">
			<a data-view-article="medebe" class="active">
				<abbr>Owes me</abbr>
			</a>
			<a data-view-article="ledebo">
				<abbr>I owe</abbr>
				<span class="tag count">19</span>
			</a>
			<a>
				<abbr>All</abbr>
			</a>
		</nav>
		{{/constant}}

		<article id="medebe" class="active list">
			<ul>
				{{> profile}}
			</ul>
			<ul class="indented people-items">
				{{#each debts}}
					<li class="accept {{#if paid}}light done{{/if}}">
						{{> debtCredit}}
					</li>
				{{/each}}
			</ul>
		</article>

		<article id="ledebo" class="list">
			<ul>
				{{> profile}}
			</ul>
			<ul class="indented people-items">
				{{#each credits}}
					<li class="cancel {{#if paid}}light done{{/if}}">
						{{> debtCredit}}
					</li>
				{{/each}}
			</ul>
		</article>

		<footer>
			<nav>
				<a href="#" class="active">Total Deuda Persona</a>
			</nav>
		</footer>
	</section>
</template>

<template name="profile">
	<li class="thumb big bigger">
		<img src="https://graph.facebook.com/{{user.services.facebook.id}}/picture?width=65&height=65">
		<div>
			<div class="on-right text tiny">algo chiquito a la derecha</div>
			<strong>{{user.profile.name}}</strong>
			<span class="text tiny opacity">texto abajito</span>
			<small>
				Lo que quieras decir del pibe
			</small>
		</div>
	</li>
</template>

<template name="debtCredit">
	<div class="on-right text tiny">{{{prettyDate date}}}</div>
	<strong>
		&euro;{{debt}}
	</strong>
	<div>{{description descr}}</div>
	{{#each tags}}
		<span class="label">{{this}}</span>
	{{/each}}
</template>
